.titulo{
    
    width: 100%;
    padding: 20px;
    color: aliceblue;
    background-color: #a94442;

}


#input-medicamento{
	width: 33%;
	color: #555;
	display: block;
	margin-bottom: .12em;
	padding: 8px;
	
}

.invisivel{
	display: none;

}
    
table{
	margin-top: 25px;
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

.fadeOut {
    opacity: 0;
    transition: 0.5s;
}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .8em;
}